#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}

/*Start your code from here */
#myCarousel{
    background-color: pink;

    
}
.carousel-inner p{
    color: purple;
    font-size:25px;
}
#myCarousel img{
margin-top: 35px;
    height: 350px;
    
}